{% extends "base.html" %}
{% load static %}


{% block content %}
<div class=" text-black">
    <div class="row">
        <div class="col text-center mb-5">
            <h1>My Store</h1>
        </div>
        
    </div>
    <div class="row text-center d-block" >
        

        <div class="col center">
            <h2>Store Summary</h2>
            <div id="store-summary" style="padding: 0;" class="jumbotron">

              <!--- table for number of products, total sales and items sold -->
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Number of Products</th>
                            <th>Total Sales</th>
                            <th>Credit Due</th>
                            <th>Items Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{product_number}}</td>
                            <td>£{{sales_income}}</td>
                            <td>£{{money_due}}</td>
                            <td>{{sales_number}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row d-block">
            <div class="row text-center d-block">
                <div class="col ">
                    <h3>My Store</h3>
                    <a href="{% url 'add_product_store' %}" class="btn btn-success animated-btn">Add Score</a>
                </div>
                <hr>
            </div>
            
        
        
            <div class=" col-10 offset-1">
              <div class="row mt-1 mb-2"></div>
              <div style="margin-bottom: 100px;" class="row">
               {% if product_number > 0 %} 
                {% for product in products %}
                  <div class="modal fade" id="exampleModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header bg-danger d-block">
                          <h5 class="modal-title text-center text-white" id="exampleModalLabel">Delete
                            {{product.name}}?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete {{product.name}}? This action is irreversible.</p>
                        </div>
                        <div class="modal-footer text-center d-block">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="{% url 'delete_product_store' product.id%}">
                            <button type="button" class="btn btn-primary btn-danger animated-btn">Delete</button>
                          </a>
          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 ">
                      {% if product.image %}
                      <a href="{% url 'product_detail' product.id %}">
                          <img class=" grow card-img-top img-fluid border shadow-checkout" src="{{MEDIA_URL}}{{product.image}}"
                              alt="{{ product.name }}">
                      </a>
                      {% else %}
                      <a href="{% url 'product_detail' product.id %}">
                          <img class="card-img-top img-fluid shadow-checkout" src="https://score-emporium.s3.eu-west-2.amazonaws.com/static/media_1/No_Image_Available.jpg"
                              alt="{{ product.name }}">
                      </a>
                      {% endif %}
                      <div class="card-body pb-0">
                          <p></p>
                      </div>
                      <div class="card-footer bg-white pt-0 border-0 text-center">
                          <div class="row">
                              <div class="card-body pb-0">
                                  <p class="mb-0">{{ product.name }}</p>
                              </div>
                          </div>
                          <div class="row">
          
                              <div class="col">
          
                                  <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                  {% if product.rating %}
                                  <small class="gold"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                      5</small>
                                  {% else %}
                                  <small class="text-muted">No Rating</small>
                                  {% endif %}
                              </div>
                          </div>
                          <div class="row g-0">
          
                              <div class="col d-block p-0 ">
                                  <a href="#" data-toggle="modal" data-target="#exampleModal{{forloop.counter0}}"
                                      class="btn btn-danger animated-btn">Delete</a>
                              </div>
                              <div class="col p-0 ">
                                  <a href="{% url 'edit_product_store' product.id%}"
                                      class="btn btn-warning text-white animated-btn">Edit</a>
                              </div>
                          </div>
          
                      </div>
                  </div>
                  </div>
                  {% if forloop.counter|divisibleby:1 %}
                  <div class="col-12 d-sm-none mb-5">
                    <hr>
                  </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:2 %}
                  <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                  </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:3 %}
                  <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                  </div>
                  {% endif %}
                  {% if forloop.counter|divisibleby:4 %}
                  <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                  </div>
                  {% endif %}
                  
                  {% endfor %}
                  {% else %}
                  <div class="col-12">
                    <p class="text-center">You have no products</p>
                  </div>  
                  {% endif %}
              </div>
        
        
            </div>
          </div>
        
    </div>
</div>
</div>
</div>

{% endblock %}