{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container text-black">
    <div class="row text-center">
      <div class="col center">
       <h2>Luke</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>My Store</h3>
      </div>
      <div class="col">
        <h3>My Purchased Scores</h3>
      </div>
    </div>
  </div>
{% endblock %}