{% extends "base.html" %}
{% load static %}


{% block content %}
<div style="margin: 0 auto;" class=" text-black">
    
    <h1 class="text-center">My Purchased Scores</h1>

    <div style="width: 90%; margin: 0 auto;" class="row ">
      
      <table id="scores-container" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Score</th>
            <th>PDF</th>
            <th>Guitar Pro</th>
            <th>Interactive</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            {% for item in order.lineitems.all%}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <a href="/media/{{item.product.image}}" target="_blank">
                <img
                    id="purchased-img"
                    src="/media/{{item.product.image}}"
                    alt="{{item.product.name}}"
                    style="max-height: 95px; margin-right: 10px;"
                    class=""
                    />
                  </a>
                <div class="ms-3">
                  <a href="{% url 'product_detail' item.product.id %}">
                    <h5 class="text-black"><strong>{{item.product.name|title}}</strong></h5> 
                    </a>
                  
                  
                </div>
              </div>
            </td>
            <td>
              <a href="/media/{{item.product.PDF}}" class="btn btn-primary my-auto animated-btn" target="_blank">Download</a>
      
            </td>
            <td>
              {% if item.product.Guitar_Pro_Locked%}
              <a href="/media/{{item.product.Guitar_Pro_Locked}}" class="btn btn-primary animated-btn" target="_blank">Download</a>
              {% else %}
              {% if item.product.Guitar_Pro_Unlocked%}
              <a href="/media/{{item.product.Guitar_Pro_Unlocked}}" class="btn btn-primary animated-btn" target="_blank">Download</a>
              {%else%}
              <span><input type="button" disabled value="No GP File" class="btn btn-secondary "></span> 

              {%endif%}
              
              {%endif%}

            </td>
            <td>
              {% if item.product.Guitar_Pro_Unlocked %}
              <span><a href="{% url 'guitar_pro' item.product.id%}" class="btn btn-primary animated-btn">Play in Browser</a></span> 
              {%else%}
              <span><input type="button" disabled value="No GP File" class="btn btn-secondary "></span> 
              {%endif%}
            </td>
            
            <td>
              <span class="text-muted">{{order.date}}</span>
            </td>
          </tr>
          
          </tr>
          {%endfor%}
          {%endfor%}
        </tbody>
      </table>
    </div>
    
    
  </div>
{% endblock %}