{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="w-100 py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-9 col-xl-7">
      <div class="card">
        <div class="rounded-top text-white d-flex flex-row"
          style="background-image: {% if not profile.cover_photo %} url(https://score-emporium.s3.eu-west-2.amazonaws.com/static/media_1/reviews-background.jpg); {% else %} url({{profile.cover_photo.url}}); {%endif%} background-size: contain; height:200px;">
          <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            {% if profile.profile_picture %}
            <img src="{{profile.profile_picture.url}}" alt="profile photo of {{request.user.username}}"
              class="img-fluid img-thumbnail mt-0 ml-1 mb-2" style="width: 150px; z-index: 1">
            {% else %}
            <img
              src="https://score-emporium.s3.eu-west-2.amazonaws.com/static/media_1/profile_photos/default-pp-min.png"
              alt="Generic placeholder image" class="img-fluid img-thumbnail ml-1 mt-0 mb-2"
              style="width: 150px; z-index: 1; height:182px;">
            {% endif %}

          </div>
          <div class="ms-3" style="margin-top: 130px;">
            <h5 class="pl-2 dark_background">{{profile.user.username}}</h5>

          </div>
        </div>
        <div class="p-4 text-black" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-end text-center pt-4 py-1">
            <div class="col-7 mr-2">
              <a href="{% url 'edit_profile'%}" class="btn btn-primary pl-1" style="z-index: 1;">
                Edit profile
              </a>
              <a href="{% url 'add_product_store' %}" class="btn btn-success animated-btn">Add Score</a>

            </div>

            <div>
              <p class="mb-1 h5">{{product_number}}</p>
              <p class="small text-muted mb-0">Products</p>
            </div>
            <div class="px-3">
              {% if profile.average_rating > 0.00%}
              <p class="mb-1 h5">{{profile.average_rating}}/5</p>
              <p class="small text-muted mb-0">Average Rating</p>
              {% else %}
              <p class="mb-1 text-muted pb-1">no ratings</p>
              <p class="small text-muted mb-0">Average Rating</p>
              {% endif %}
            </div>
            <div>
              <p class="mb-1 h5">{{profile.sales_number}}</p>
              <p class="small text-muted mb-0">Sales</p>
            </div>
          </div>
        </div>
        {% if profile.bio %}
        <div class="card-body p-4 text-black">
          <div class="">
            <p class="lead fw-normal mb-1 text-center">About</p>
            <div class="p-0" style="background-color: #f8f9fa;">
              <p class="font-italic mb-1 p-3">{{profile.bio}}</p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}