.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border-radius: 2.5px;
    border: 1px solid #000;
}

.shadow-checkout{
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.purchased-img{
  transition: .3s ease-in-out;
  overflow-y: visible!important;
  overflow: visible !important;
  position: relative !important;
}

.purchased-img:hover{
  transform: scale(2.5);
  transition: 0.5s;
  z-index: 9999 !important;
  overflow-y: visible!important;
  overflow: visible !important;
  position: relative !important;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
#purchased-details::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#purchased-details {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#submit-button{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px !important;
  
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease-in-out;
  
}

#submit-button:hover{
  background-color: red;
  color: white;
  border: 1px solid #000;
  border-radius: 5px !important;
  
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease-in-out;
  
}

#payment-form{
  margin-bottom: 150px;
}