@charset "UTF-8";

body {
    
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
}




/*-----------------------
Container / Wrapper
-------------------------*/

.dashboard-main-wrapper {
    min-height: 100%;
    padding-top: 60px;
    position: relative;
}

.dashboard-wrapper {
    position: relative;
    left: 0;
    
    min-height: 870px !important;
}

.dashboard-content {
    padding: 30px 30px 60px 30px;
}


/* ==========================================================================
  5. Dashboard Ecommerce
   ========================================================================== */

.dashboard-ecommerce {}


/* -------------- country sales -------------------*/

.country-sales {}

.country-sales-content {
    padding: 20px !important;
}




/* ==========================================================================
   Ecommerce Products
   ========================================================================== */

.product-thumbnail{ border:1px solid #e6e6f2; background-color: #fff; margin-bottom: 30px; }
.product-img{ text-align: center; padding: 35px 0px;  }
.product-img-head{position: relative;}
.ribbons{
    -webkit-clip-path: polygon(10% 25%, 10% 0, 35% 0%, 65% 0%, 90% 0, 90% 25%, 90% 50%, 91% 100%, 50% 73%, 10% 100%, 10% 50%);
clip-path: polygon(10% 25%, 10% 0, 35% 0%, 65% 0%, 90% 0, 90% 25%, 90% 50%, 91% 100%, 50% 73%, 10% 100%, 10% 50%);

    position: absolute;
    top: 0px;
    background-color: #59b3ff;
    padding: 31px 15px;
    text-align: center;
    left: 10px;  font-family: 'Circular Std Medium'; color: #fff;}

   .ribbons-text{transform: rotate(90deg);
    position: absolute;
    top: 11px;
    left: 10px;
    color: #fff;}
.product-wishlist-btn{height: 40px;
    width: 40px;
    border: 2px solid #dfdfec;
    border-radius: 100px;
    font-size: 18px;
    line-height: 2.3;
    color: #dfdfec;
    text-align: center;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;}
    .product-wishlist-btn:hover{border-color: #ff3367; color: #ff3367;transition: 0.3s ease;}
    .product-wishlist-btn.active{border-color: #ff3367; color: #ff3367;transition: 0.3s ease;}
.product-content{ border-top:1px solid #e6e6f2; padding: 23px;}
.product-content-head{ position: relative; margin-bottom: 25px; }
.product-title{font-size: 16px; margin-bottom: 5px;}
.product-rating{font-size: 12px;

    color: #ffa811;}
.product-price{ position: absolute; top: 0; right: 0; font-size: 16px; color: #3d405c;font-family: 'Circular Std Medium'; line-height: 1;}
.product-btn{}
.product-del{font-size: 14px; color: #71748d;}
.product-sidebar{ background-color: #fff; border:1px solid #e6e6f2;  }
.product-sidebar-widget{border-bottom: 1px solid #e6e6f2; padding: 10px 20px; margin-bottom: 10px;}
.product-sidebar-widget:last-child{border:0px;}
.product-sidebar-widget-title{font-size: 16px; margin-bottom: 10px;}

.custom-color-red.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #a40000;
    border-color: #a40000;
}

.custom-color-blue.custom-radio .custom-control-input:checked~.custom-control-label::before{background-color: #0d4197; border-color: #0d4197}
.custom-color-yellow.custom-radio .custom-control-input:checked~.custom-control-label::before{background-color: #ffdc40; border-color: #ffdc40;}
.custom-color-black.custom-radio .custom-control-input:checked~.custom-control-label::before{background-color: #111111; border-color: #111111;}



.product-slider{background-color: #fff;  border-top-left-radius: 4px; border-bottom-left-radius: 4px; padding: 30px; display: flex; justify-content: center;}
.product-carousel{}
.product-carousel .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -80px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.product-carousel .carousel-indicators li {
  position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgb(224, 224, 231);
    border-radius: 100%;
}
.product-carousel .carousel-indicators li.active{ background-color: #5969ff; }
.product-carousel .carousel-control-next, .carousel-control-prev {}


.product-details{ background-color: #fff; padding: 30px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; position: relative;}
.product-colors {padding-bottom: 10px; margin-bottom: 10px;}
.product-size{padding-bottom: 14px; margin-bottom: 10px; position: relative;}
.product-colors input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}
.product-description{}


.product-colors label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-name: dot-anim;
}
.product-colors .radio:checked + label {
    animation-play-state: paused;
}
.product-colors label:before {
     content: "\f00c";
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding: 0px;
    margin: 4px 8px;
    color: #fff;
    font-size:  14px;
}


.product-colors .radio:checked + label:after {
    background: transparent;
    transition: all .5s;
    transform: scale(1);
}
/**** BLUE Radio button code ****/
#radio-1 + label {
    left: -60vw;
    background: #0a3c93;
    animation-delay: 0s;
}
#radio-1 + label:before {
    transform: scale(0);
}
#radio-1:checked + label:before {
    transform: scale(1);
    transition: all .4s;
}


/**** Yellow Radio button code ****/
#radio-2 + label {
    left: -60vw;
    background: #ffdc40;
    animation-delay: 0s;
}
#radio-2 + label:before {
    transform: scale(0);
}
#radio-2:checked + label:before {
    transform: scale(1);
    transition: all .4s;
}

/**** Red Radio button code ****/
#radio-3 + label {
    left: -60vw;
    background: #a00000;
    animation-delay: 0s;
}
#radio-3 + label:before {
    transform: scale(0);
}
#radio-3:checked + label:before {
    transform: scale(1);
    transition: all .4s;
}



.product-qty{position: absolute;
    right: 0;
    top: 0px;}

.quantity {
  position: relative;
}

.product-qty input[type=number]::-webkit-inner-spin-button,
.product-qty input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.product-qty input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 65px;
  height: 41px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 39px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #e6e6f2;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: 'Circular Std Medium';

  line-height: 1.6;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #efeff6;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #e6e6f2;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}



/* -----------------------
2.3  Cards
-------------------------*/

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}




/*-----------------------
5.1.  General
--------------------*/

.table {
    margin-bottom: 0px;
}

.table td,
.table th {
    padding: 10px;
    vertical-align: middle;
    border-top: 1px solid #e6e6f2;
    font-weight: normal;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e6e6f2;
}

.table thead th,
.table th {
    color: #3d405c;
    font-family: 'Circular Std Medium';
}

.table-bordered {
    border: 1px solid #e6e6f2;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #e6e6f2;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 230, 242, .5);
}

.table-hover tbody tr:hover {
    background-color: rgba(230, 230, 242, .5);
}


/*-----------------------
5.2.  Data Tables
--------------------*/


/*-- row group table */

tr.group,
tr.group:hover {
    background-color: #5969ff !important;
    color: #fff;
    font-family: 'Circular Std Medium';
    font-size: 18px;
}




/*-------------------------------------------------------------------
Media Query
-------------------------------------------------------------------*/


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width:1400px) {.product-price{position: initial;}.product-slider {
    background-color: #fff;
    border-top-left-radius: 4px;
    padding: 30px;}

    .influencer-profile-data .user-social-media {
    padding: 16px 56px;
    text-align: center;
    border-right: 1px solid #e6e6f2;
}
}
@media only screen and (max-width:1200px) {.product-price{position: initial;}.product-slider{padding: 30px;}
/*--------- dashboard-influence -------- */
    .user-social-media {
        padding: 30px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        border-right: transparent !important;
    }


}


/* Medium Devices, Desktops */

@media only screen and (max-width:992px) {

/*--------- dashboard-influence -------- */
    .user-social-media {
        padding: 16px 45px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        border-right: transparent !important;
    }

}


/* Small Devices, Tablets */

@media only screen and (max-width:768px) {
    .dashboard-content {
    padding: 20px 20px 60px 20px;
}
    .nav-left-sidebar .navbar a {
        color: #fff;
        font-size: 18px;
    }
    .nav-left-sidebar .navbar {
        padding: 14px;
    }
    .nav-left-sidebar {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }
    .dashboard-wrapper {
        margin-left: 0px;
    }
    .dashboard-footer {
        margin-left: 0px;
    }
    .nav-left-sidebar .navbar-toggler {
        background-color: #fff;
    }

    /* infulencer dahboard */
    .dashboard-influence .card-footer-item {
        padding: 11px 54px;
    }
    .influencer-profile .tab-regular .nav.nav-tabs .nav-item .nav-link,
    .influencer-profile .tab-regular .nav.nav-pills .nav-item .nav-link {
        display: block;
        padding: 17px 13px;
    }

    /* Inbox */
    .page-aside {
        background: none repeat scroll 0 0 #ffffff;
        width: 280px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 1px solid #e6e6f2;
        margin-top: 0;
        padding-bottom: 0px;
        color: #404040;
    }

    /*--------- dashboard-product-single -------- */
.product-slider{padding: 131px 30px;}
.product-carousel .carousel-indicators{bottom: -30px;}

/*--------- dashboard-influence -------- */
    .user-social-media {
        padding: 16px 45px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        border-right: transparent !important;
    }


}


/* Extra Small Devices, Phones */

@media only screen and (max-width:480px) {
    .dashboard-content {
    padding: 20px 20px 60px 20px;
}
    .nav-left-sidebar .navbar a {
        color: #fff;
    }
    .nav-left-sidebar .navbar-toggler {
        background-color: #fff;
    }
    .aside-header .navbar-toggle {
        display: block;
    }
    .nav-left-sidebar .navbar {
        padding: 14px;
    }
    .nav-left-sidebar {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }

    .dashboard-wrapper {
        margin-left: 0px;
    }
    .dashboard-footer {
        margin-left: 0px;
    }
    .page-aside {
        background: none repeat scroll 0 0 #fff;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0px;
        border-right: transparent;
        margin-top: 0px;
        padding-bottom: 0px;
        color: #404040;
        border-bottom: 1px solid #e6e6f2;
    }
    .aside-nav.collapse {
        display: none;
    }
    .dashboard-main-wrapper .main-content {
        margin-left: 0px;
        width: auto;
    }
    .aside-nav.show {
        display: block;
    }

    /*--------- dashboard-influence -------- */
    .user-social-media {
        padding: 16px 45px;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #dee2e6;
        border-right: transparent !important;
    }
    .user-social-media:last-child {
        border-bottom: transparent;
        border-right: transparent !important;
    }
    .dashboard-influence .progress {
        width: 74%;
    }
    .footer {
        margin-left: 0px;
    }
    .influencer-profile-data .user-avatar {
        float: initial;
    }
    .influencer-profile-data .user-avatar-name {
        float: initial;
    }
    .dashboard-influence .card-footer-item {
        padding: 11px 48px;
    }

    /*--------- dashboard-profile -------- */
    .tab-regular .nav.nav-tabs .nav-item .nav-link,
    .tab-regular .nav.nav-pills .nav-item .nav-link {
        display: block;
        padding: 17px 38px;
    }
    .tab-regular .nav.nav-tabs .nav-item,
    .tab-regular .nav.nav-pills .nav-item {
        margin-bottom: 5px;
    }
  /*--------- dashboard-product-single -------- */
.product-slider{padding: 30px 10px;}
.product-carousel .carousel-indicators{bottom: -30px;}
.simple-card .nav.nav-tabs .nav-item .nav-link {
    padding: 17px 29px;}
}


/*--- Simple Card Tabs ----*/

.simple-card {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e9e9f2;
}

.simple-card .nav.nav-tabs {
    border-bottom: 1px solid #e6e6f2;
}

.simple-card .nav.nav-tabs .nav-item {}

.simple-card .nav.nav-tabs .nav-item .nav-link {
    padding: 17px 49px;
    color: #71748d;
    background: #f8f8fb;
    border-color: #e9e9f2 #e9e9f2 #e9e9f2;
    margin-right: -1px;
    border-radius: 0px;
    border-top: transparent;
}

.simple-card .nav-tabs .nav-link.active {
    color: #5969ff !important;
    background-color: transparent !important;
    border-color: #e9e9f2 #e9e9f2 #fff !important;
}

.simple-card .tab-content {
    padding: 12px;
}


/*--- Simple Card Outline Tabs ----*/

.simple-outline-card {
    border-radius: 4px;
    border: 1px solid #c4c4cf;
}

.simple-outline-card .nav.nav-tabs {
    border-bottom: 1px solid #c4c4cf;
}

.simple-outline-card .nav.nav-tabs .nav-item {}

.simple-outline-card .nav.nav-tabs .nav-item .nav-link {
    padding: 17px 49px;
    color: #71748d;
    background: #e9e9f2;
    border-color: #c4c4cf #c4c4cf #c4c4cf;
    margin-right: -1px;
    border-radius: 0px;
    border-top: transparent;
}

.simple-card .nav-item{
    width: 115px;
}

.simple-outline-card .nav-tabs .nav-link.active {
    color: #5969ff !important;
    background-color: transparent !important;
    border-color: #c4c4cf #c4c4cf #efeff6 !important;
}

.simple-outline-card .tab-content {
    padding: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-60{
    margin-bottom: 60px;
}

.rating-star{
    font-size: 12px;
    padding-top: 8px;
    color: #ffa811;
}

.responsive-youtube{
    max-width: 560px;
    width:100%;
    height: 315px;
    margin: 0 auto !important;
    }
    @media (min-width: 0) and (max-width:425px){
    .responsive-youtube{
    width:100%;
    height: 198px;
    }
    }

/* Custom, iPhone Retina */
@media only screen and (max-width:320px) {}