{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="background-color: #efeff6;" class="overlay"></div>
    <div  class="container">
        <div class="row">
            <div class="col-12 center text-center pt-2">
                <h2 class="col-lg-6 col-md-12 center text-center">Request a Score</h2>
                <p class="col-lg-10 col-md-12 center text-center p-0 pt-2" style="font-size: 1rem;" >Fill out the form to post a score request. Other users will then be able to see, upvote and respond to your request. If you're happy with a submission you can mark your post as complete, setting the chosen product to be displayed for other interested users.</p>
                <hr>
            </div>
            
        </div>

        <div class="row pb-4">
            <div class="col-sm-12 col-md-6  center">
                <form method="POST" action="{% url 'make_request'%}" class="form mb-2 mt-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div style="margin-bottom: 50px;" class="text-center">
                        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-primary animated-btn" type="submit">Make Request</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}