{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/requests.css">
{% endblock %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="tr-job-posted section-padding">
    <div class="container">
        <div class="job-tab text-center">
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li role="presentation" class="active">
                    <a class="active show" href="#active-requests" aria-controls="hot-jobs" role="tab" data-toggle="tab"
                        aria-selected="true">Active Request</a>
                </li>
                <li role="presentation"><a href="#completed-requests" aria-controls="recent-jobs" role="tab"
                        data-toggle="tab" class="" aria-selected="false">Completed Requests</a></li>

            </ul>
            <div class="tab-content text-left">
                <div role="tabpanel" class="tab-pane fade active show" id="active-requests">
                    <div class="row">
                        {% if active_submissions > 0 %}
                        {% for requested in requests%}

                        {% if requested.completed == False %}
                        <div class="col-md-6 col-lg-4">
                            <div class="job-item">
                                <div class="item-overlay">
                                    <div class="job-info" style="padding-top: 41px;">

                                        <div class="company-logo text-center mb-1">
                                            <h3>{{requested.title|title}}</h3>
                                            <hr>
                                        </div>
                                        <ul class="tr-list job-meta">
                                            <li><i class="fa fa-map-signs" aria-hidden="true"></i>San Francisco, CA, US
                                            </li>
                                            <li><i class="fa fa-briefcase" aria-hidden="true"></i>Mid Level</li>
                                            <li><i class="fa fa-money" aria-hidden="true"></i>$5,000 - $6,000</li>
                                        </ul>
                                        <ul class="job-social tr-list">
                                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-long-arrow-right"
                                                        aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-4">
                                            <form action="{% url 'like_post' requested.pk%}" method="post">
                                                {% csrf_token %}

                                                <input name="id" hidden type="text" value="{{requested.id}}">
                                                <input hidden name="username" type="text"
                                                    value="{{requested.user.username}}">
                                                {% if request.user.is_authenticated %}
                                                {% if requested.pk not in list %}
                                                <button style="height: 2.5rem;
                                                    font-size: 1rem; z-index: 9999;" class="btn btn-primary animated-btn"
                                                    type="submit" name="post_id" value="{{requested.id}}">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    {{requested.upvotes}}
                                                </button>
                                                {%else%}
                                                <button style="height: 2.5rem;
                                                font-size: 1rem; z-index: 9999;" class="btn btn-primary btn-danger animated-btn" type="submit"
                                                    name="post_id" value="{{requested.id}}">
                                                    <i class="fa fa-thumbs-down"></i>
                                                    {{requested.upvotes}}
                                                </button>
                                                {%endif%}
                                                {%else%}
                                                <button style="height: 2.5rem;
                                                font-size: 1rem; z-index: 9999;" class="btn btn-primary animated-btn" disabled type="submit"
                                                    name="post_id" value="{{requested.id}}">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    {{requested.upvotes}}
                                                </button>
                                                {%endif%}
                                            </form>
                                        </div>
                                        <div class="col-4">
                                            <button style="height: 2.5rem;
                                            font-size: 1rem; z-index: 9999;" data-toggle="modal" data-target="#commentModal{{requested.id}}"
                                                class="btn btn-primary">
                                                <div><i class="fa-solid fa-comment"></i>
                                                    {% for dict in comment_list %}
                                                    {% if requested.id == dict.score%}
                                                    {{dict.commentCount}}
                                                    {%endif%}
                                                    {%endfor%}
                                                </div>
                                            </button>

                                        </div>
                                        {% if request.user == requested.created_by %}
                                        <div class="col-4">
                                            <button style="height: 2.5rem;
                                            font-size: 1rem; z-index: 9999;" data-toggle="modal"
                                                data-target="#viewSubmissionsModal{{requested.id}}"
                                                class="btn btn-success">
                                                <div><i class="fa-solid fa-magnifying-glass"></i>
                                                </div>
                                            </button>
                                        </div>
                                        {%else%}
                                        <div class="col-4">
                                            <button style="height: 2.5rem;
                                            font-size: 1rem; z-index: 9999;" data-toggle="modal" data-target="#fulfillModal{{requested.id}}"
                                                class="btn btn-success">
                                                <div><i class="fa-solid fa-music"></i>
                                                </div>
                                            </button>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="job-info">
                                    <div class="company-logo text-center">
                                        <h3>{{requested.title|title}}</h3>
                                        <hr>
                                    </div>
                                    <p class="tr-title text-center">

                                        {{requested.description|title}}
                                    </p>
                                    <div class="col-12 pt-5  center d-flex" style="padding-bottom: 5rem;">
                                        <ul class="job-social2 tr-list center">
                                            <li class="p-2"><a href="#" class="white-text"><i class="fa fa-thumbs-up"
                                                        aria-hidden="true"></i>{{requested.upvotes}}</a></li>
                                            <li class="p-2"><a href="#" class="white-text"><i
                                                        class="fa-solid fa-comment" aria-hidden="true"></i>
                                                    {% for dict in comment_list %}
                                                    {% if requested.id == dict.score%}
                                                    {{dict.commentCount}}
                                                    {%endif%}
                                                    {%endfor%}
                                                </a></li>
                                            <li class="p-2"><a href="#" class="white-text"><i class="fa-solid fa-music"
                                                        aria-hidden="true"></i>
                                                    {% for submit in submissions %}
                                                    {% if submit.score.id == requested.id %}
                                                    {{forloop.counter}}
                                                    {%endif%}
                                                    {%endfor%}
                                                </a></li>

                                        </ul>
                                    </div>

                                    <div class="time">
                                        <a
                                            href="{% url 'storefront' requested.created_by%}"><span>{{requested.created_by|title}}</span></a>
                                        <span class="pull-right">{{requested.date}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="col-12 text-center">
                            <h2>No posts to show</h2>
                        </div>
                        {%endif%}
                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->
                <div role="tabpanel" class="tab-pane fade in" id="completed-requests">
                    <div class="row">

                    </div><!-- /.row -->
                </div><!-- /.tab-pane -->

            </div>
        </div><!-- /.job-tab -->
    </div><!-- /.container -->
</div>

{% endblock %}