{% extends "base.html" %}
{% load static %}


{% block content %}
<div style="background-color: #efeff6;" class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6  center text-center pt-3">

            <h2 class="logo-font mb-4 text-center">Product Management</h2>
            <h5 class="text-muted">Add a new score to your store.</h5>
            <p>You currently have {{product_number}} items in your store.</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6  center">
            <form id="form" method="POST" action="{% url 'add_product' %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div style="margin-bottom: 50px;" class="text-center">
                    <a class="btn btn-secondary" href="{% url 'products' %}" aria-label="cancel">Cancel</a>
                    <button class="btn btn-primary" type="submit" aria-label="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}