{% extends "base.html" %}
{% load static %}


{% block content %}
    <div style="background-color: #efeff6;" class="overlay"></div>
    
    <div  class="container-fluid pb-100">
       
         
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
                {% if search_results_list != None %}
                <span class="text-muted">Filtering for: {% for filter in search_results_list %} {{filter}} {%endfor%}</span>
                <br>
                <span class="text-muted">Results: {{product_count}}</span>
                {% endif %}
            </div>
        </div>
        <div id="filter-small" class="dropdown offset-1 mb-4">

            <button class="dd-button" data-label="Dropdown">
              Filter Results
            </button>
          
            <ul class="dd-menu">
              <form action="{% url 'products'%}" method="POST">
                {% csrf_token %}
                <li>
                    <div class="form-group col-12">
                        <select name="genre" class=" filter form-control">
                            <option value="">Select Genre</option>
                            <option value="Pop">Pop</option>
                            <option value="Folk">Folk</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Classical">Classical</option>
                            <option value="Rock">Rock</option>
                            <option value="Blues">Blues</option>
                            <option value="Celtic">Celtic</option>
    
                            <option value="">Show All</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group col-12">
                        <select name="difficulty" class=" filter form-control">
                            <option value="">Select Difficulty </option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                            <option value="Expert">Expert</option>
                            <option value="">Show All</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group col-12">
                        <select name="rating" class=" filter form-control">
                            <option value="">Rating</option>
                            <option value="no rating">No Rating</option>
                            <option value="high>low">Highest First</option>
                            <option value="low>high">Lowest First</option>
                            <option value="">Show All</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group col-12">
                        <select name="price" class=" filter form-control">
                            <option value="">Price Range</option>
                            <option value="low>high">Low-High</option>
                            <option value="high>low">High-Low</option>
                            <option value="">Show All</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group col-12 ">
                        <button type="submit" class="btn btn-primary w-100">Filter</button>
                    </div>
                </li>
            </form>
            </ul>
            
          </div>
        
        <div class="row">
            
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                
                <div class="row">
                    
                    {% if product_count > 0 %}
                    {% for product in products %}
                    
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class=" product-card card h-100 border-0 {% if forloop.counter < 5%} hideme2 {%else%} hideme {%endif%}">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product" src="{{MEDIA_URL}}{{product.image}}" alt="{{ product.name}}">
                                    
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid product" src="{{MEDIA_URL}}No_Image_Available.jpg" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 pt-0">
                                    <p></p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-center shadow">
                                    
                                    <div class="row">
                                        <div class="card-body pb-0">
                                            <p class="mb-0">{{ product.name|title }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            
                                            <p class="lead mb-0 text-center font-weight-bold">£{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted gold"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if product.id in orderslist%}
                                            <br>
                                            <br>
                                            <small class="btn-sm btn-success mt-2">Owned</small>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    
                    
                    {% endfor %}
                    {%else%}    
                        <div class="col-12">
                            <h3 class="text-center">No Products Found</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs%}
<script>
    
</script>
{% endblock%}